body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

img {
  height: auto;
  margin: 20px 0;
  max-width: 750px;
  width: 100%;
}

p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.2rem;
  }
}
