body {
  display: grid;
  font-family: sans-serif;
  grid-gap: 20px;
  justify-items: center;
  margin: 0;
  padding: 20px;
}

header,
main {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  max-width: 900px;
}

h1 {
  margin: 0;
}

img {
  height: auto;
  max-width: 750px;
  width: 100%;
}

p {
  font-size: 1.1rem;
  justify-self: start;
  line-height: 1.35;
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.2rem;
  }
}
